<h1>Canada Business Bureau</h1>

In [2]:
import pandas as pd

<h3>Data Read & Clean Up</h3>

In [3]:
#Path to database
canada_business_list = '/Users/leslieleiva/Documents/GitHub/Canada-Business-Bureau/Resources/ODBus_v1.csv'

#Creating dataframe from csv
business_df = pd.DataFrame(pd.read_csv(canada_business_list))

#Keep only the necessary columns, more
business_df = business_df[[
    'business_name',
    'business_sector',
    'derived_NAICS',
    'latitude',
    'longitude',
    'city',
    'provider'
]]

#Drop N/A or Rows with Missing fields
business_df = business_df.dropna()

business_df.info()

/var/folders/m_/c3cfft1d34jg2yvx6z3cv29h0000gn/T/ipykernel_61351/4089696351.py:5: DtypeWarning: Columns (14,15,19,29,31) have mixed types. Specify dtype option on import or set low_memory=False.
  business_df = pd.DataFrame(pd.read_csv(canada_business_list))

<class 'pandas.core.frame.DataFrame'>
Index: 446574 entries, 0 to 446574
Data columns (total 7 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   business_name    446574 non-null  object
 1   business_sector  446574 non-null  object
 2   derived_NAICS    446574 non-null  object
 3   latitude         446574 non-null  object
 4   longitude        446574 non-null  object
 5   city             446574 non-null  object
 6   provider         446574 non-null  object
dtypes: object(7)
memory usage: 27.3+ MB

In [4]:
business_df.head()

,business_name,business_sector,derived_NAICS,latitude,longitude,city,provider
0,Healthconnect Pharmacy,Community Pharmacy,44,46.09593,-64.87099,Moncton,City of Moncton
1,Innomar Pharmacy Inc.,Community Pharmacy,44,46.10593,-64.80623,Moncton,City of Moncton
2,Express Scripts Canada Pharmacy,Community Pharmacy,44,46.10351,-64.70646,Moncton,City of Moncton
3,Tomavo,Limited Groceries,..,46.10473,-64.81922,Moncton,City of Moncton
4,Cameron Street Clinic,Community Pharmacy,44,46.08854,-64.78849,Moncton,City of Moncton

<h1>Business Sector Analysis</h1>

In [8]:
#Group by Business Sector
business_sector_df = business_df.groupby('business_sector').count().sort_values(by='business_name',ascending=False)

#Reset index for graphing
business_sector_df = business_sector_df['business_name'].reset_index()

#Drop first row that is empty
business_sector_df = business_sector_df.drop(0).head(10)



#View the top 10 business sectors
business_sector_df

               business_sector  business_name
1         Eating Establishment          37451
2          Retail Store (Food)          25286
3                Public Garage          12593
4                       Office          10846
5   Personal Services Settings           9664
6           Building Renovator           8244
7           General Contractor           7544
8             General Business           7515
9       Apartment House Strata           5941
10             Tow Truck Owner           5322

<h1>Business Locations</h1>

In [ ]:
locations_df = business_df.groupby('city').count().sort_values(by='business_name',ascending=False)

locations_df = locations_df[['business_name']].reset_index().head(10)

locations_df

          city  business_name
0      Toronto         110438
1    Vancouver          61890
2     Edmonton          38591
3      Calgary          34364
4      Burnaby          20145
5       Surrey          18195
6  Mississauga          17827
7      Vaughan          11998
8      Markham          11650
9      Kelowna          11319

<h1>Plots & Graphs</h1>

In [ ]:
import matplotlib as plt 

fig, ax = plt.subplot()

ax.bar(business_sector_df['business_sector'],
        business_sector_df['business_name'])

NyNeeKa

AttributeError: module 'matplotlib' has no attribute 'subplot'